<div class="container-fluid p-0">
  <div class="row mb-5 d-flex align-items-center" style="height: 70vh; background-color: #E3E5FD;">
    <div class="col-lg-12">
      <div id="carouselExample" class="carousel slide">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <div class="d-flex align-items-center" style="background-color: #E3E5FD;">
              <img class="img-fluid carouselImg" src="Vizsgaremek/vizsgaprojekt/src/app/assets/tesztkep1" alt="">
              <div class="p-5">
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Amet ab fugiat alias fuga quae earum, dolorum itaque unde culpa in vitae nihil laborum atque expedita maiores saepe temporibus ullam officiis.</p>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <div class="d-flex align-items-center" style="background-color: #E3E5FD;">
              <img class="img-fluid carouselImg" src="Vizsgaremek/vizsgaprojekt/src/app/assets/tesztkep1" alt="">
              <div class="p-5">
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Amet ab fugiat alias fuga quae earum, dolorum itaque unde culpa in vitae nihil laborum atque expedita maiores saepe temporibus ullam officiis.</p>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <div class="d-flex align-items-center" style="background-color: #E3E5FD;">
              <img class="img-fluid carouselImg" src="Vizsgaremek/vizsgaprojekt/src/app/assets/tesztkep1" alt="">
              <div class="p-5">
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Amet ab fugiat alias fuga quae earum, dolorum itaque unde culpa in vitae nihil laborum atque expedita maiores saepe temporibus ullam officiis.</p>
              </div>
            </div>
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </div>
  </div>

  <div class="row mt-5 d-flex align-items-center" style="height: 70vh;">
    <div class="col-lg-7">
      <div id="infoBox" class="d-flex flex-column justify-content-center align-items-center">
        <h1>Miért keress nálunk segítséget, ha felvételirőlvan szó?</h1>
        <p>Leírjuk az előnyeit a weboldalnak, illetve leírjuk összesítve miben segít ez a diákoknak.</p>
      </div>
    </div>

    <div class="col-lg-5">
      <img src="Vizsgaremek/vizsgaprojekt/src/app/assets/tesztkep1" alt="" class="img-fluid" id="infoImage">
    </div>
  </div>
</div>
