<div class="container-fluid p-0" style="min-height: 100vh !important; margin-bottom:100px">
  <div class="row mb-5 d-flex align-items-center" style="min-height: 70vh; background-color: #E3E5FD;">
    <div class="col-lg-12">
      <div id="carouselExample" class="carousel slide">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <div class="d-flex align-items-center" style="background-color: #E3E5FD;">
              <img class="img-fluid carouselImg col-lg-6 col-md-6 col-sm-12" src="../../../assets/Egyetem_carousel1.jpg" alt="">
              <div class="p-5 carouselText col-lg-5 col-md-5 col-sm-12">
                <p class="text-lg-start text-center">A Universitas azért lett létrehozva, hogy segítse a jövőbeni egyetemi hallgatók dolgát a felvételivel és információ szerzéssel kapcsolatban. Célünk, hogy minden tanulni vágyó fiatal, vagy kevésbé fiatal, választ kaphasson bármely felmerülő kérdésére. <br><br> Jogosan merülhet fel a kérdés, hogy: "De hát ki tudna itt nekünk segíteni?". Segítségül szakemberekkel dolgozunk, akik valamely egyetem felvételi irodáján dolgoznak. Ki tudna többet, ha nem ők?</p>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <div class="d-flex align-items-center" style="background-color: #E3E5FD;">
              <img class="img-fluid carouselImg col-lg-6 col-md-6 col-sm-12" src="../../../assets/Egyetem_carousel2.jpg" alt="">
              <div class="p-5 carouselText col-lg-5 col-md-5 col-sm-12">
                <p class="text-lg-start text-center">Oldalunk főeleme a webináriumokra való jelentkezés lehetősége. Ezek a megbeszélések nagyrészt online valósulnak meg, de amennyiben jobban kedveled a személyes részvételt, szívesen várunk Universitas Studiónkba. <br><br> A konzultációkat szakembereink tartják, akik igyekeznek minden felmerülő kérdésre válaszolni. Ne feledd, kérdezni nem szégyen, bármiben segítségre van szükséged a felvételi kapcsán bátran foglalj egy időpontot!</p>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <div class="d-flex align-items-center" style="background-color: #E3E5FD;">
              <img class="img-fluid carouselImg col-lg-6 col-md-6 col-sm-12" src="../../../assets/Egyetem_carousel3.jpg" alt="">
              <div class="p-5 carouselText col-lg-5 col-md-5 col-sm-12">
                <p class="text-lg-start text-center">Legyél te is büszke felhasználónk! Oldalunk még eléggé gyerekcipőben jár, ezért visszajelzésed nagyon fontos számunkra! <br><br> Bármilyen jellegű hibát észlelsz akár működési, akár esztétikai szempontból kérlek írd meg az ujsaghy.zsofia@gmail.com e-mail címre, hogy mielőbb ki tudjuk javítani.</p>
              </div>
            </div>
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </div>
  </div>

  <div class="row mt-5 d-flex align-items-center" style="height: 70vh;">
    <div class="col-lg-7 my-lg-0 my-3 order-lg-0 order-1 d-flex justify-content-center align-items-center">
      <div id="infoBox" class="d-flex flex-column justify-content-center align-items-center">
        <h1>Miért keress nálunk segítséget, ha felvételiről van szó?</h1>
        <p>Célünk, hogy egy egyszerű, könnyen használható weboldalt biztosítsunk minden bizonytalan diáknak. <br><br> Nem kell megkeresned egy felvételi irodát, telefonon hívogatni az ott dolgozókat. Csak lépj fel ide, foglalj időpontot konzultációra és okosodj a felvételivel kapcsolatban!</p>
      </div>
    </div>

    <div class="col-lg-4 my-lg-0 my-3 order-lg-1 order-0">
      <img src="../../../assets/home_why.jpg" alt="" class="img-fluid" id="infoImage">
    </div>
  </div>
</div>
