<div class="container-fluid d-flex flex-column justify-content-center" style="height: 80vh;">

  <div class="row my-5">
    <div class="col-lg-12 d-flex flex-column justify-content-center align-items-center">
      <div id="inputContainer" class="px-4 d-flex flex-column justify-content-center align-items-center">
        <input type="text" placeholder="Add meg a keresendő egyetem(ek) nevét... Pl. Pécs Tudomány Egyetem" id="universityInput" class="form-control" #searchInput (input)="getUniversityByName(searchInput.value)">
        <div class="d-flex flex-column" id="selectContainer">
          @for (university of universities; track $index) {
            <div class="selectableUniversity" (click)="selectUniversity(university)">
              <p class="m-0 text-center">{{university.name}}</p>
            </div>
          }
        </div>
      </div>
    </div>
  </div>


    <div class="row">
      <div class="col-lg-12 d-flex justify-content-center align-items-center">
        <div [id]="selectedUniversity == null ? '' : 'infoDiv'" class="p-4" style="height: 350px;">
          @if (selectedUniversity == null) {
              <!-- <h1 class="text-center">Add meg a keresett egyetem nevét!</h1> -->
          } @else {
            <h1 class="text-center mb-4">{{selectedUniversity.name}}</h1>
            <p class="text-lg-start text-center">{{selectedUniversity.description}}</p>
            <p class="mb-0 text-lg-start text-center"><span class="fw-bold">Cím: {{selectedUniversity.address}}</span></p>
            <p class="w-100 text-lg-start text-center"><a target="_blank" [href]="selectedUniversity.googleMapsLink">Google Maps elérhetőség</a></p>

            <p class="mb-0 mt-3 fw-bold text-lg-start text-center">Elérhető szakok:</p>
            <ul class="d-flex flex-column align-items-lg-start align-items-center">
              @for (faculty of selectedUniversity.faculties; track $index) {
                <li>{{faculty.name}}</li>
              }
            </ul>

            <div class="w-100 d-flex justify-content-center align-items-center">
              <button id="universityButton">Az egyetem oldala</button>
            </div>
          }
        </div>
      </div>
    </div>

</div>