<div class="container-fluid d-flex flex-column justify-content-center" style="height: 80vh;">

  <div class="row my-5">
    <div class="col-lg-12 d-flex justify-content-center align-items-center">
      <div id="inputContainer" class="px-4 d-flex justify-content-center align-items-center">
        <input type="text" placeholder="Add meg a keresendő egyetem(ek) nevét... Pl. Pécsi Tudomány Egyetem" id="universityInput" class="form-control">
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-12 d-flex justify-content-center align-items-center">
      <div id="infoDiv" class="p-4">
        <h1 class="text-center mb-4">Egyetem neve</h1>
        <p class="text-lg-start text-center">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Maxime, adipisci dignissimos dolorum repudiandae accusamus numquam. Rem suscipit voluptates tempore voluptatem quibusdam. Impedit distinctio quaerat iusto incidunt saepe temporibus accusamus quas!</p>
        <p class="mb-0 text-lg-start text-center"><span class="fw-bold">Cím: </span></p>
        <p class="w-100 text-lg-start text-center"><a target="_blank" href="#">Google Maps elérhetőség</a></p>

        <p class="mb-0 mt-3 fw-bold text-lg-start text-center">Elérhető szakok:</p>
        <ul class="d-flex flex-column align-items-lg-start align-items-center">
          <li>szak1</li>
          <li>szak2</li>
        </ul>

        <div class="w-100 d-flex justify-content-center align-items-center">
          <button id="universityButton">Az egyetem oldala</button>
        </div>
      </div>
    </div>
  </div>
</div>