<div class="container-fluid" style="height: 100vh;">
  <div class="row">
    <div class="col-lg-12">
      <h1 class="text-center mt-4">Egyetemek kezelése</h1>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-12 d-flex justify-content-center align-items-center">
      <button id="createButton" (click)="showCreatorForm = true">Egyetem hozzáadása</button>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-12">
      @for (university of universities; track $index) {
        <app-university-card class="my-2" [univeristy]="university" (update)="updateUniversity($event, university.id!, $index)" (delete)="deleteUniversity(university.id!, $index)"/>
      }
    </div>
  </div>
</div>

@if (showCreatorForm) {
  <app-university-create (create)="addUniversity($event)" (close)="showCreatorForm = false"/>
}

