<div class="container-fluid d-flex flex-column justify-content-center align-items-center" style="height: 80vh">
  <div class="row w-100">
    <div class="col-lg-6 mb-4">
      <button routerLink="/universities" class="w-100">Egyetem kezelése</button>
    </div>
    <div class="col-lg-6 mb-4">
      <button routerLink="/users" class="w-100">Felhasználók</button>
    </div>
  </div>

  <div class="row w-100 mb-4">
    <div class="col-lg-12">
      <button routerLink="/eventManager" class="w-100">Események kezelése</button>
    </div>
  </div>
</div>
