@import url('https://fonts.googleapis.com/css2?family=Chewy&family=Comic+Relief:wght@400;700&display=swap');

.infoDiv {
  background-color: #E3E5FD;
  width: 500px;
  height: 500px;
  border-radius: 15px;
}

h1 {
  font-size: 40px;
  font-family: "Comic Relief", system-ui;
  font-weight: 400;
  font-style: normal;
}
