<!DOCTYPE html>
<html lang="hu" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div>
    <h1 style="text-align: center;">Sikeres regisztráció!</h1>
    <h4 style="text-align: center;">Tisztelt <span th:text="${name}"></span></h4>
    <p style="text-align: center;">Örömmel értesitjük, hogy <span th:text="${registerDate}"></span>-kor sikeresen
        regisztrált az oldalunkra.</p>
    <p style="text-align: center;">Kellemes időtöltést kívánunk az oldalunkon!</p>
    <p style="text-align: center;">Üdvözlettel: Universitas Studio.</p>
</div>
</body>
</html>