input, textarea {
  background-color: #E3E5FD;
  height: 35px;
  border: none;
  border-radius: 4px;
  font-size: 15px;
}

input:focus,
input::after {
  border: none !important;
}

#description {
  height: 125px;
}

.iconButton {
  border: none;
  height: 40px;
  width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #E3E5FD;
  border-radius: 8px;
}

mat-select {
  height: 35px;
}
