#cardContainer {
  background-color: #beb2f6;
  height: 125px;
  border-radius: 12px;
}

button {
background-color: #f14545;
  border: none;
  height: 50px;
  color: white;
  border-radius: 10px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}