.login-div {
    width: 400px;
    height: 450px;
    background-color: #E3E5FD;
    margin: 20px auto;
    border-radius: 36px;
    padding: 25px;
    justify-content: center;
}


.login-div-data {
    margin: 25px auto;
    height: 200px;
    width: 250px;
    padding: 25px 5px;
    justify-content: center;
    background-color: #ECF0F7;
    border-radius: 17px;
}

.login-div-header {
    border-radius: 17px;
    background-color: #B3BBFB;
    width: 250px;
    margin: auto;
    
}

.login-text {
    font-size: 50px;
    color: white;
    text-align: center;
}

input {
    width: 200px;
    height: 40px;
    border-radius: 17px;
    border: none;
    margin: 10px auto ;
}