<div class="container-fluid" (click)="close.emit()" style="background-color: rgba(0, 0, 0, 0.6); width: 100vw; height: 100vh"></div>

<div class="container-fluid d-flex flex-column justify-content-between" id="sideBar">

  <div class="row">
    <div class="col-lg-12">
      <div class="w-100 d-lg-none d-flex justify-content-end align-items-center mt-3">
        <button id="closeButton" (click)="close.emit()">X</button>
      </div>

      <h1 class="mt-lg-4 text-lg-start text-center">Universitas</h1>
      <ul class="mt-3">
        <li (click)= "navigate('/homePage')" class="d-flex justify-content-lg-start justify-content-center align-items-center mt-2">
          <span class="material-symbols-outlined">home</span>
          <span class="spanText">Főoldal</span>
        </li>
        @if (userService.loggedUser != null) {
          <li (click)="navigate('/appointmentReservation')" class="d-flex justify-content-lg-start justify-content-center align-items-center mt-2">
            <span class="material-symbols-outlined"> calendar_add_on </span>
            <span class="spanText">Felkészítő foglalás</span>
          </li>
        }
        <li (click)="navigate('/universitySearch')" class="d-flex justify-content-lg-start justify-content-center align-items-center mt-2">
          <span class="material-symbols-outlined"> school </span>
          <span class="spanText">Egyetem</span>
        </li>
        @if (userService.loggedUser?.role?.name == "ROLE_admin"){
          <li (click)="navigate('/adminPage')" class="d-flex justify-content-lg-start justify-content-center align-items-center mt-2">
            <span class="material-symbols-outlined">hardware</span>
            <span class="spanText">Admin</span>
          </li>
        }

        @if (userService.loggedUser?.role?.name == "ROLE_worker"){
          <li (click)="navigate('/eventManager')" class="d-flex justify-content-lg-start justify-content-center align-items-center mt-2">
            <span class="material-symbols-outlined">hardware</span>
            <span class="spanText">Időpontok kezelése</span>
          </li>
        }
      </ul>
    </div>
  </div>

   <div class="row mb-3">
    <div class="col-lg-12 d-flex justify-content-center align-items-center" [class.flex-column]="userService.loggedUser != null">
      @if (userService.loggedUser == null) {
        <button (click)="navigate('/login')" class=" spanText" id="loginButton">Bejelentkezés</button>
      } @else {
        <li (click)="navigate('/profilPage')" class="d-flex justify-content-lg-start justify-content-center align-items-center mb-4">
            <span class="material-symbols-outlined">account_circle</span>
            <span class="spanText">Profilom</span>
        </li>
        <button class="fw-bold" id="logoutButton" (click)="logout()">Kijelentkezés</button>
      }
    </div>
  </div>
</div>