@use '@angular/material' as mat;
@import url('https://fonts.googleapis.com/css2?family=Chewy&family=Comic+Relief:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');


#editorDiv {
  background-color: #B3BBFB;
  height: 650px;
  width: 550px;
  border-radius: 12px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.iconButton {
  border: none;
  height: 40px;
  width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #E3E5FD;
  border-radius: 8px;
}

input, textarea, select {
  background-color: #E3E5FD;
  height: 35px;
  border: none;
  border-radius: 4px;
  font-size: 15px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

input[type="radio"] {
  box-shadow: none;
}

input:focus,
input::after {
  border: none !important;
}

* {
  @include mat.datepicker-overrides((calendar-body-label-text-color: #5a49a8,
      calendar-container-background-color: white,
      calendar-container-text-color: #5a49a8,
      toggle-icon-color: #5a49a8,
      toggle-active-state-icon-color: #5a49a8,
      calendar-navigation-button-icon-color: #5a49a8,
      calendar-header-text-color: #5a49a8,
      calendar-header-divider-color: #5a49a8,
      calendar-date-today-selected-state-outline-color: #5a49a8,
      calendar-date-today-outline-color: #5a49a8,
      calendar-date-text-color: #5a49a8,
      calendar-date-selected-state-text-color: white,
      calendar-date-selected-state-background-color: #5a49a8,
      calendar-date-preview-state-outline-color: #5a49a8,

      //
      calendar-text-font: "rubik",
      calendar-body-label-text-weight: 900,
      calendar-header-text-weight: 900,
      calendar-period-button-text-weight: 600
    ));
}

mat-card {
  width: 500px;
  background-color: #E3E5FD;
  box-shadow: none;
  font-weight: 900;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

button {
  background-color: #BEB2F6;
  border: none;
  height: 50px;
  width: 400px;
  color: white;
  border-radius: 10px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  font-family: "Comic Relief", system-ui;
  font-weight: 700;
  font-style: normal;
  font-size: 22px;
}

h1, label, input, select, option {
  font-family: "Comic Relief", system-ui;
  font-weight: 400;
  font-style: normal;
}

.error {
  border: 1px solid red !important;
  color: red !important;
}
